@using Dl.Classes
@using WebApplication.Helpers
@{
    ViewBag.Title = "Main";
    Layout = "../Shared/_Layout.cshtml";
    
}

@section scripts
{
    <script src="~/ViewModels/EmployeesViewModel.js"></script>
    <script type="text/javascript">
        var params = {
            positions: [],
            pageNum: 1,
            countPerPage : 10,
            urls: {
                baseUrl : "@Urls.GetBaseUrl()",
                getEmployeesByStatusAndPageNumUrl: "/Employee/GetEmployeesByStatusAndPageNum",
                getEmployeePositionsUrl: "/Employee/GetEmployeePositions",
                updateEmployeeUrl: "/Employee/UpdateEmployee",
                createEmployeeUrl: "/Employee/CreateEmployee"
            }
        };

        var vm = new EmployeesViewModel(params);
        $(document).ready(function() {
            ko.applyBindings(vm);
        });
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@Urls.GetBaseUrl()">Employees</a>
    </div>
    <div class="panel-body">
        
        <!-- filter -->
        <div class="form-group">
            <div class="text-primary">
                Filter by status:
            </div>
            <fieldset>
                <input type="radio" name="filter" id="rbAll" value="0" data-bind="checked: statusFilter"> <label for="rbAll">All</label>
                <input type="radio" name="filter" id="rbActive" value="1" data-bind="checked: statusFilter"> <label for="rbActive">Active</label>
                <input type="radio" name="filter" id="rbInactive" value="2" data-bind="checked: statusFilter"> <label for="rbInactive">Inactive</label>
            </fieldset>
        </div>
        <!-- end filter -->
        
        <!-- progress bar -->
        <div class="progress progress-striped active" data-bind="visible: progressBarIsView">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <!-- end progress bar -->
        
        <!-- list -->
        
        <!-- alert -->
        <div data-bind="visible: error().length > 0, text: error" class="alert alert-warning"></div>
        <!-- end alert -->

        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th width="25%" class="center">Name</th>
                    <th width="25%" class="center">Position</th>
                    <th width="10%" class="center">Status</th>
                    <th width="10%" class="center">Salary</th>
                    <th width="10%" class="center">Tax</th>
                    <th width="10%" class="center">After</th>
                    <th width="10%" class="center">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: employees">

                <!-- view row -->
                <tr data-bind="visible: !viewEdit()">
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: PositionName"></td>
                    <td class="center" data-bind="text: (IsActive() ? 'Active' : 'Inactive')"></td>
                    <td class="center" data-bind="text: Salary"></td>
                    <td class="center" data-bind="text: (Tax() + '%' )"></td>
                    <td class="center" data-bind="text: After"></td>
                    <td class="center">
                        <i class="glyphicon glyphicon-edit hover" title="edit" data-bind="click: $root.edit"></i>
                    </td>
                </tr>
                <!-- end view row -->
                <!-- edit row -->
                <tr class="center" data-bind="visible: viewEdit">
                    <td>
                        <input type="text" data-bind="value: Name" class="form-control"  />
                    </td>
                    <td>
                        <select data-bind="options: $root.positions, value: PositionId, optionsText: 'Key', optionsValue : 'Id'" class="form-control"></select>
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: IsActive" />
                    </td>
                    <td colspan="3">
                        <input type="text" data-bind="numeric: Salary, value: Salary" class="form-control" />
                    </td>
                    <td class="center">
                        <i class="glyphicon glyphicon-floppy-disk hover" title="save" data-bind="click: $root.save"></i>
                    </td>
                </tr>
                <!-- edit row -->

            </tbody>
        </table>
        
        <!-- pagination -->
        <div data-bind="visible: pager().items().length > 1" class="center">
            <ul class="pagination" data-bind="foreach: pager().items">
                <li data-bind="css : cssClass">
                    <a class="hover" data-bind="text: num, click: $root.changePage"></a>
                </li>
            </ul>
        </div>
        <!-- end pagination -->

        <!-- end list -->

        <!-- actions -->
        <hr />
        <div class="center">
            <button type="button" class="btn btn btn-primary" data-bind="click: addEmployeeForm.viewForm">Add employee</button>
            <a href="@Urls.GetBaseUrl()/Employee/GenerateReport"  class="btn btn btn-info">Generate report</a>
        </div>
        <!-- end actions -->
    
    </div>
</div>

<!-- -add new employee modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: addEmployeeForm.closeForm">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add employee</h4>
            </div>
            <div class="modal-body">
                <!-- alert -->
                <div data-bind="visible: addEmployeeForm.error().length > 0, text: addEmployeeForm.error" class="alert alert-warning"></div>
                <!-- end alert -->
                
                <!-- add employee form -->
                <div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Enter name" data-bind="value: addEmployeeForm.Name">
                    </div>
                    <div class="form-group">
                        <label for="Position">Position</label>
                        <select id="Position" data-bind="options: $root.positions, value: addEmployeeForm.PositionId, optionsText: 'Key', optionsValue : 'Id'" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        <input type="text" id="Salary" class="form-control" data-bind="numeric: addEmployeeForm.Salary, value: addEmployeeForm.Salary" placeholder="Salary">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-bind="checked: addEmployeeForm.IsActive"> IsActive
                        </label>
                    </div>
                </div>
                <!-- end add employee form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: addEmployeeForm.closeForm">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: addEmployee">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end -add new employee modal -->
