/* line 3, ../sass/style-workit.scss */
ABBR, ARTICLE, ASIDE, AUDIO, BB, CANVAS, DATAGRID, DATALIST, DETAILS, DIALOG, FIGURE, FOOTER, HEADER, MARK, MENU, METER, NAV, OUTPUT, PROGRESS, SECTION, TIME, VIDEO {
  display: block;
}

/* line 7, ../sass/style-workit.scss */
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P,
BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN,
EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP,
TT, VAR, HR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM,
LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

/* line 18, ../sass/style-workit.scss */
:focus {
  outline: none;
}

/* line 20, ../sass/style-workit.scss */
.clearfix {
  display: inline-block;
}
/* line 22, ../sass/style-workit.scss */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 33, ../sass/style-workit.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 37, ../sass/style-workit.scss */
* html .clearfix {
  height: 1%;
}

/* line 41, ../sass/style-workit.scss */
.hidden {
  display: none;
}

/* line 43, ../sass/style-workit.scss */
INPUT[type='submit']::-moz-focus-inner,
INPUT[type='button']::-moz-focus-inner {
  border: 0;
}

/* line 48, ../sass/style-workit.scss */
INPUT {
  outline: none;
}

/* line 50, ../sass/style-workit.scss */
H1, H2, H3, H4, H5, H6 {
  font-weight: normal;
}

/* line 52, ../sass/style-workit.scss */
IMG {
  vertical-align: top;
}

/* line 54, ../sass/style-workit.scss */
UL {
  list-style-type: none;
}

/* line 56, ../sass/style-workit.scss */
HTML, BODY, .wrapper, .footer__inner {
  height: 100%;
}

/* line 58, ../sass/style-workit.scss */
BODY .wrapper, BODY .footer__inner {
  height: auto;
  min-height: 100%;
}

/**
 * Body basic formatting
 *
 * Font-size, main color, links (hover, visited etc.)
 *
 * @section basic formatting
 */
/* GLOBAL STYLES */
/* line 98, ../sass/style-workit.scss */
.disp-in-block-top {
  display: inline-block;
  vertical-align: top;
}

/* line 103, ../sass/style-workit.scss */
.disp-in-block-mid {
  display: inline-block;
  vertical-align: middle;
}

/* line 108, ../sass/style-workit.scss */
.disp-in-block-btm {
  display: inline-block;
  vertical-align: bottom;
}

/* line 113, ../sass/style-workit.scss */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px 4px;
  color: white !important;
  font-family: "Segoe UI";
  font-size: 14px;
  text-shadow: 1px 1px 1px #797878;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #444343;
  -moz-box-shadow: 1px 1px 2px #444343;
  -webkit-box-shadow: 1px 1px 2px #444343;
}
/* line 124, ../sass/style-workit.scss */
.btn:hover {
  cursor: pointer;
}

/* line 127, ../sass/style-workit.scss */
.btn_yellow {
  background: url("../img/vertical-sprite.png") repeat-x 0 0;
}
/* line 129, ../sass/style-workit.scss */
.btn_yellow:hover {
  background: #f2cc63;
}

/* line 132, ../sass/style-workit.scss */
.btn_blue {
  background: url("../img/vertical-sprite.png") repeat-x 0 -44px;
}
/* line 134, ../sass/style-workit.scss */
.btn_blue:hover {
  background: #7fd3df;
}

/* line 137, ../sass/style-workit.scss */
.btn_red {
  background: url("../img/vertical-sprite.png") repeat-x 0 -122px;
}
/* line 139, ../sass/style-workit.scss */
.btn_red:hover {
  background: #f23e36;
}

/* line 142, ../sass/style-workit.scss */
.no-padding {
  padding: 0;
}

/* line 144, ../sass/style-workit.scss */
.forms__border {
  padding: 6px 9px;
  border: 3px solid #8ddce3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
  color: #5c5c5c;
}
/* line 150, ../sass/style-workit.scss */
.forms__border:focus {
  border-color: #64cfd9;
}

/* line 153, ../sass/style-workit.scss */
.input_width264px {
  width: 245px;
}

/* line 155, ../sass/style-workit.scss */
.h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #393939;
}

/* line 162, ../sass/style-workit.scss */
.h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #393939;
}

/* line 169, ../sass/style-workit.scss */
.h4 {
  font-size: 14px;
  font-weight: bold;
  color: #393939;
}

/* line 175, ../sass/style-workit.scss */
.hr {
  margin: 10px 0 20px;
  height: 1px;
  background-color: #b2b2b2;
}

/* line 181, ../sass/style-workit.scss */
.text-align-center {
  text-align: center;
}

/* line 183, ../sass/style-workit.scss */
.margin-bottom30px {
  margin-bottom: 30px;
}

/* line 184, ../sass/style-workit.scss */
.margin-left-right {
  margin: 0 60px;
}

/* line 186, ../sass/style-workit.scss */
.float-right {
  float: right;
}

/* line 188, ../sass/style-workit.scss */
.float-left {
  float: left;
}

/* line 190, ../sass/style-workit.scss */
.opacity_none {
  opacity: 0;
}

/* line 192, ../sass/style-workit.scss */
.paddingLeft60px {
  padding-left: 60px;
}

/* line 194, ../sass/style-workit.scss */
.width-auto {
  width: auto !important;
}

/* GLOBAL STYLES */
/* BODY */
/* line 199, ../sass/style-workit.scss */
BODY {
  font-family: "Segoe UI";
  background: url("../img/bg.png") repeat 0 0;
}

/* wrapper */
/* line 205, ../sass/style-workit.scss */
.wrapper, .footer__inner {
  margin: 0 auto;
  width: 923px;
}

/* header */
/* line 211, ../sass/style-workit.scss */
HEADER {
  margin-top: 23px;
}

/* header__top */
/* line 214, ../sass/style-workit.scss */
.header__top {
  margin-bottom: 13px;
  overflow: hidden;
  clear: both;
}

/* line 220, ../sass/style-workit.scss */
.logo {
  float: left;
}

/* line 224, ../sass/style-workit.scss */
.logo A {
  display: block;
  text-decoration: none;
}

/* line 229, ../sass/style-workit.scss */
.header__top_buttons {
  float: right;
  margin-right: 4px;
}

/* line 234, ../sass/style-workit.scss */
.header__top_buttons > BUTTON {
  margin-right: 20px;
}

/* line 236, ../sass/style-workit.scss */
.login, .registration {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 3px;
  color: white;
  text-decoration: none;
}

/* line 243, ../sass/style-workit.scss */
.registration {
  background: url("../img/buttons-border.png") repeat-y 0 0;
}

/* header__middle */
/* line 249, ../sass/style-workit.scss */
.header__middle {
  padding: 34px 56px;
  background: black;
}

/* line 254, ../sass/style-workit.scss */
.header__middle_search {
  display: inline-block;
  vertical-align: middle;
  margin-right: 58px;
}
/* line 257, ../sass/style-workit.scss */
.header__middle_search input {
  padding: 6px 9px 6px 39px;
  width: 224px;
  background: url("../img/search_icon.png") no-repeat 5px 7px white;
}

/* line 264, ../sass/style-workit.scss */
.header__middle_search_btn {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 30px;
  background: url("../img/search_button.png") no-repeat 9px 4px;
}
/* line 269, ../sass/style-workit.scss */
.header__middle_search_btn:hover {
  cursor: pointer;
}

/* line 272, ../sass/style-workit.scss */
.header__middle_checkbox {
  display: inline-block;
  vertical-align: middle;
  color: #fdfdfd;
}

/* content */
/* line 278, ../sass/style-workit.scss */
.content {
  padding: 0 0 30px;
}

/* line 280, ../sass/style-workit.scss */
.content__inner {
  margin-bottom: 14px;
  letter-spacing: -4px;
  line-height: 0;
  box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  -webkit-box-shadow: 0 0 2px #cccccc;
  background: url("../img/content_bg.png") repeat-y 0 0 white;
}

/* content__box */
/* line 289, ../sass/style-workit.scss */
.content__box {
  display: inline-block;
  vertical-align: top;
  padding: 30px 10px 0;
  width: 626px;
  line-height: normal;
  letter-spacing: normal;
}

/* content__box_more_padding */
/* line 297, ../sass/style-workit.scss */
.content__box_more_padding {
  padding: 30px;
  width: 585px;
}

/* content__sidebar */
/* line 303, ../sass/style-workit.scss */
.content__sidebar {
  display: inline-block;
  vertical-align: top;
  padding: 22px;
  width: 232px;
  line-height: normal;
  letter-spacing: normal;
}

/* content__sidebar__socials */
/* line 312, ../sass/style-workit.scss */
.content__sidebar__socials {
  margin-bottom: 16px;
}

/* line 314, ../sass/style-workit.scss */
.content__sidebar__socials_btn {
  display: block;
  margin-bottom: 16px;
  width: 191px;
  height: 28px;
  color: #535353;
  background: url("../img/social-icons.png") no-repeat;
}

/* line 323, ../sass/style-workit.scss */
.content__sidebar__socials_btn_fb {
  background-position: 0 0;
}

/* line 325, ../sass/style-workit.scss */
.content__sidebar__socials_btn_twitter {
  background-position: 0 -44px;
}

/* line 327, ../sass/style-workit.scss */
.content__sidebar__socials_btn SPAN {
  float: right;
  padding: 4px 4px 5px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  font-weight: bold;
  color: #535353;
  background: white;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}

/* content__sidebar_ask */
/* line 342, ../sass/style-workit.scss */
.content__sidebar_ask {
  margin: 0;
}

/* line 344, ../sass/style-workit.scss */
.content__sidebar_ask_title {
  display: block;
  margin: 0 0 23px 35px;
  width: 152px;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: #3b3b3b;
}

/* line 354, ../sass/style-workit.scss */
.content__sidebar_ask_text, .content__sidebar_subscribe_inner_text, .content__sidebar_we_inner_text {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 20px;
  color: #4d4d4d;
}

/* line 361, ../sass/style-workit.scss */
.content__sidebar_ask_text A, .content__sidebar_subscribe_inner_text A, .content__sidebar_we_inner_text A {
  color: #2a7acc;
}

/* content__sidebar_subscribe */
/* line 364, ../sass/style-workit.scss */
.content__sidebar_subscribe {
  margin-bottom: 30px;
  padding: 9px;
  background: url("../img/subscribe-bg.png") repeat 0 0;
  box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  -webkit-box-shadow: 0 0 2px #cccccc;
}

/* line 371, ../sass/style-workit.scss */
.content__sidebar_subscribe_inner {
  padding: 16px;
  background-color: #f3f3f3;
}

/* line 373, ../sass/style-workit.scss */
.content__sidebar_subscribe_inner_title {
  margin-bottom: 16px;
}

/* line 375, ../sass/style-workit.scss */
.content__sidebar_subscribe_inner_text {
  margin: 0 0 20px;
}

/* line 380, ../sass/style-workit.scss */
.content__sidebar_subscribe_inner_btn {
  margin: 0 0 20px 52px;
}

/* content__sidebar_we */
/* line 383, ../sass/style-workit.scss */
.content__sidebar_we {
  padding: 9px;
  background-color: white;
  box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  -webkit-box-shadow: 0 0 2px #cccccc;
}

/* line 389, ../sass/style-workit.scss */
.content__sidebar_we_inner {
  padding: 16px;
  background-color: #f3f3f3;
}

/* line 393, ../sass/style-workit.scss */
.content__sidebar_we_inner_text A {
  color: #3681ce;
  text-decoration: underline;
}

/* footer */
/* line 395, ../sass/style-workit.scss */
.footer {
  margin: 0 0 -30px;
  background: url("../img/footer_bg.png") repeat 0 0;
}

/* line 400, ../sass/style-workit.scss */
.footer__inner {
  padding: 30px 0;
}

/* line 405, ../sass/style-workit.scss */
.footer__inner_pic {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  padding-top: 5px;
  width: 58px;
}

/* line 412, ../sass/style-workit.scss */
.footer__inner_pic IMG {
  max-width: 100%;
}

/* line 414, ../sass/style-workit.scss */
.footer__inner_text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #333333;
}

/* popup */
/* line 421, ../sass/style-workit.scss */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 2500px;
  height: 2500px;
  background: url("../img/popup_bg.png") repeat 0 0;
  z-index: 1000;
}

/* line 431, ../sass/style-workit.scss */
.popup__inner {
  position: relative;
  padding: 28px;
  z-index: 1001;
}

/* line 438, ../sass/style-workit.scss */
.popup__inner_box {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 11px solid #e9e9e9;
  background: white;
  z-index: 1002;
}

/* line 447, ../sass/style-workit.scss */
.popup__inner_box_close {
  float: right;
  margin: -15px -15px 0 0;
  width: 9px;
  height: 9px;
  background: url("../img/close.png") no-repeat 0 0;
}
/* line 453, ../sass/style-workit.scss */
.popup__inner_box_close:hover {
  cursor: pointer;
}

/* line 456, ../sass/style-workit.scss */
.popup__inner_box_title {
  margin-bottom: 26px;
  color: #5c5c5c;
}

/* line 458, ../sass/style-workit.scss */
.popup__inner_box_text {
  margin-bottom: 18px;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 20px;
}

/*======================index.html===================*/
/*======================my-vacancy.html===================*/
/* content__box_vacancy */
/* line 471, ../sass/style-workit.scss */
.content__box_vacancy_item {
  margin: 0;
}

/* line 473, ../sass/style-workit.scss */
.content__box_vacancy_item:nth-child(2n+1) {
  background-color: #f3f3f3;
}

/* line 475, ../sass/style-workit.scss */
.content__box_vacancy_item:hover .content__box_vacancy_link_img {
  background-position: left -50px;
}

/* line 477, ../sass/style-workit.scss */
.content__box_vacancy_link {
  display: block;
  padding: 19px 23px;
  text-decoration: none;
}

/* line 483, ../sass/style-workit.scss */
.content__box_vacancy_link_pic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 88px;
}

/* line 489, ../sass/style-workit.scss */
.content__box_vacancy_link_pic IMG {
  max-width: 100%;
}

/* line 491, ../sass/style-workit.scss */
.content__box_vacancy_link_text {
  display: inline-block;
  vertical-align: middle;
  width: 207px;
  font-size: 14px;
  font-weight: bold;
  color: #434343;
}

/* line 499, ../sass/style-workit.scss */
.content__box_vacancy_link_text SPAN {
  display: block;
  font-size: 14px;
  color: #777;
}

/* line 505, ../sass/style-workit.scss */
.content__box_vacancy_link_img {
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 43px;
  background: url("../img/content__box_vacancy_img.png") no-repeat;
}

/* content__box_vacancy_link_status_wrap */
/* line 513, ../sass/style-workit.scss */
.content__box_vacancy_link_status_wrap {
  margin-top: 10px;
  width: 136px;
}

/* line 518, ../sass/style-workit.scss */
.content__box_vacancy_link_status {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  color: #525252;
}

/* line 525, ../sass/style-workit.scss */
.content__box_vacancy_link_status_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
  width: 12px;
  height: 12px;
  background: url("../img/active_inactive.png") no-repeat left top;
}

/* line 533, ../sass/style-workit.scss */
.content__box_vacancy_link_status_active {
  background-position: 0 0;
}

/* line 535, ../sass/style-workit.scss */
.content__box_vacancy_link_inactive {
  background-position: left bottom;
}

/*======================vacancy.html===================*/
/* content__box_vacancy_link_status_icon_position */
/* line 539, ../sass/style-workit.scss */
.content__box_vacancy_link_status_icon_position {
  width: 11px;
  height: 18px;
  background: url("../img/position.png") no-repeat 0 0;
}

/* line 545, ../sass/style-workit.scss */
.content__box_vacancy_addlist {
  margin-bottom: 60px;
}

/* content__box_vacancy_add */
/* line 547, ../sass/style-workit.scss */
.content__box_vacancy_add {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

/* line 552, ../sass/style-workit.scss */
.content__box_vacancy_add_icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  width: 14px;
  height: 14px;
  background: url("../img/sprite_vacancy_category.png") no-repeat;
}

/* line 560, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_diffrnt {
  background-position: -2px 3px;
}

/* line 561, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_design {
  background-position: -2px -28px;
}

/* line 562, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_frontend {
  background-position: -2px -58px;
}

/* line 563, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_backend {
  background-position: -2px -89px;
}

/* line 564, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_apps {
  background-position: -2px -118px;
}

/* line 565, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_manage {
  background-position: -2px -149px;
}

/* line 566, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_content {
  background-position: -2px -178px;
}

/* line 567, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_admin {
  background-position: -4px -208px;
}

/* line 568, ../sass/style-workit.scss */
.content__box_vacancy_add_icon_test {
  background-position: 0 -237px;
}

/* line 570, ../sass/style-workit.scss */
.content__box_vacancy_add_text {
  display: inline-block;
  vertical-align: middle;
}

/* line 572, ../sass/style-workit.scss */
.content__box_vacancy_add LABEL {
  float: right;
  margin: 6px 20px;
}

/* content__box_add_subcrb */
/* line 575, ../sass/style-workit.scss */
.content__box_add_subcrb {
  text-align: center;
}

/*=====================add-vacancy.html================*/
/* content__sidebar_help__list */
/* line 583, ../sass/style-workit.scss */
.content__sidebar_help__list_item {
  margin-bottom: 30px;
  font-size: 12px;
  color: #4d4d4d;
}

/* line 589, ../sass/style-workit.scss */
.content__sidebar_help__list_item SPAN {
  margin-right: 4px;
  font-size: 14px;
  font-weight: bold;
}

/* line 595, ../sass/style-workit.scss */
.content__sidebar_help__list_item_click {
  color: #2a7acc;
}

/* content__box__form */
/* line 600, ../sass/style-workit.scss */
.content__box__form FIELDSET {
  margin-bottom: 26px;
}

/* line 602, ../sass/style-workit.scss */
.type__file {
  width: 270px;
  height: 33px;
  background: url("../img/browse_btn.png") no-repeat 0 0;
}
/* line 606, ../sass/style-workit.scss */
.type__file INPUT:hover {
  cursor: pointer;
}

/*======================subscribe.html===================*/
/*======================info.html===================*/
/* line 612, ../sass/style-workit.scss */
.h1_date {
  font-size: 12px;
  color: #555555;
  text-transform: lowercase;
}

/* info__list */
/* line 623, ../sass/style-workit.scss */
.info__list_item .content__box_vacancy_add_text {
  color: #393939;
}

/* line 625, ../sass/style-workit.scss */
.content__box_vacancy_link_img SPAN {
  margin-top: 10px;
  color: #393939;
}

/* info__block */
/* content__box_vacancy_info */
/* line 636, ../sass/style-workit.scss */
.content__box_vacancy_info {
  margin-bottom: 20px;
}

/* line 638, ../sass/style-workit.scss */
.content__box_vacancy_info .content__box_vacancy_item:nth-child(2n+1) {
  background: white;
}

/* info__block__left */
/* line 641, ../sass/style-workit.scss */
.info__block__left {
  margin-right: 40px;
  width: 162px;
}

/* line 643, ../sass/style-workit.scss */
.info__block__left .h4 {
  margin-bottom: 12px;
}

/* line 645, ../sass/style-workit.scss */
.info__block__left_pic {
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
}

/* line 651, ../sass/style-workit.scss */
.info__block__left_pic IMG {
  max-width: 100%;
}

/* line 653, ../sass/style-workit.scss */
.info__block__left_info {
  margin-bottom: 20px;
  font-size: 12px;
  color: #393939;
}

/* line 659, ../sass/style-workit.scss */
.info__block__left_link {
  font-size: 14px;
  color: #2a7acc;
}

/* info__block__right*/
/* line 665, ../sass/style-workit.scss */
.info__block__right {
  width: 358px;
}

/* info__block__right_descript */
/* line 672, ../sass/style-workit.scss */
.info__block__right_descript > LI {
  line-height: 20px;
}

/* line 676, ../sass/style-workit.scss */
.info__block__right_descript_text, .instructions_text {
  font-size: 12px;
  color: #4d4d4d;
}

/* line 681, ../sass/style-workit.scss */
.info__block__right_descript_text_title {
  margin-left: 34px;
}

/* info__block__bottom */
/* line 684, ../sass/style-workit.scss */
.info__block__bottom {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 689, ../sass/style-workit.scss */
.info__block__bottom_btn {
  margin-right: 52px;
}

/* line 691, ../sass/style-workit.scss */
.info__block__bottom_social {
  font-size: 14px;
  color: #393939;
}

/* line 696, ../sass/style-workit.scss */
.info__block__bottom_social_icons {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url("../img/share_icons.png") no-repeat 0 0;
}

/* line 703, ../sass/style-workit.scss */
.info__block__bottom_social_icons_fb {
  margin-left: 10px;
  background-position: 0 -21px;
}

/* line 705, ../sass/style-workit.scss */
.info__block__bottom_social_icons_twi {
  background-position: 0 0;
}

/* instructions */
/* line 710, ../sass/style-workit.scss */
.instructions .h4 {
  margin-bottom: 20px;
}
