@font-face {
    font-family: 'Catorze27Style1SemiBold';
    src: url('catorze27style1-semibold.eot');
    src: url('catorze27style1-semibold.eot') format('embedded-opentype'),
         url('catorze27style1-semibold.woff') format('woff'),
         url('catorze27style1-semibold.ttf') format('truetype'),
         url('catorze27style1-semibold.svg#Catorze27Style1SemiBold') format('svg');
}
